.intro__text-caption{
    font-style: normal;
    font-size: 10px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Основной код для разрешения 1024px */
@media (min-width : 2560px) {
    /* стили для больших мониторов с разрешением 4K */
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media screen and (max-width : 2560px) {
    .intro__text-caption{
        display: none;
    }
}