.intro__title{
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
    margin-top:0;
    margin-bottom: 45px;
}

@media screen and (max-width : 1024px) {
    .intro__title{
        margin-bottom: 48px;
    }
}

@media screen and (max-width : 375px) {
    .intro__title{
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px
        }
}