.comments__image{
    width: 97px;
    height: 97px;
    
    border-radius: 100%;
}

/* Основной код для разрешения 1024px */
@media screen and (max-width : 1024px) {
    /* стили для больших мониторов с разрешением 4K */
}
@media screen and (max-width : 768px) {
    .comments__image{
        order: 1;
        margin: 0 auto 16px;
    }
}
/*
@media screen and (max-width : 375px) {
    .comments__image{
        order: 1;
    }
} 
@media screen and (min-width: 321px) and (max-width: 375px) {
    .comments__image{
        margin: 0 auto 16px;
    }
} */
@media screen and (max-width : 320px) {
    .comments__image{
        width: 96px;
        height: 96px;
        margin: 0 auto 17px;
    }
}