.content-title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    max-width: 800px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
}


@media screen and (max-width : 768px) {
    .content-title{
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 24px;
        max-width: 720px;
    }
}
@media screen and (min-width: 321px) and (max-width : 375px) {
    .content-title{
        max-width: 343px;
    }
}
@media screen and (max-width : 375px) {
    .content-title{
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}
@media screen and (max-width : 320px) {
    .content-title{
        max-width: 288px;
    }
}