.intro__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 35px;
}


@media screen {
    .intro__subtitle{
        display: none;
    }
}