.places__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    max-width: 457px;
    margin: 0;
    align-self: end;
}


@media screen and (max-width : 1024px) {
    .places__title{
        max-width: 440px;
    }
}
@media screen and (max-width : 768px) {
    .places__title{
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (min-width: 321px) and (max-width : 375px) {
    .places__title{
       max-width: 343px;
    }
}
@media screen and (max-width : 375px) {
    .places__title{
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        margin-bottom: 32px;
    }
}
@media screen and (max-width : 320px) {
    .places__title{
        max-width: 288px;
    }
}